{% extends 'base.html.twig' %}

{% block title %}Workplace{% endblock %}

{% block body %}
    <h1>Oddeleni {{ workplace.title }}</h1>

    <h2>Zamestnanci</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Krestni jmeno</th>
                <th>Prijmeni</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in workplace.employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.email }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No employees found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_workplace_index') }}">Back to list</a>
    {% if app.user.roles[0] == 'ROLE_ADMIN' %}
        <a class="btn btn-primary" href="{{ path('app_workplace_edit', {'id': workplace.id}) }}">edit</a>
        {{ include('workplace/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
